body {

}

.principal{
     background-color:white;
     padding-left: 30px;
}

#banner { 
     width: 100%;
}
.titulo-centralizado {
     padding-left: 20%;
}
p{
     text-align: center;
}
#missao {
     font-size: 20px;
}
strong{
     color: red;
}
.itens {
     font-size: italic;
}
.beneficios {
     display: inline-block;
     vertical-align: top;
     margin-right: 15%;
}
.imagembeneficios {
     width: 50%;
}
